# **Data Types and Structures Questions**

1. What are data structures, and why are they important?
>Data structures are ways to organize and store data efficiently in a computer so that it can be accessed and modified easily. They are important because they help in writing efficient algorithms, optimizing performance, and managing large amounts of data systematically.

2. Explain the difference between mutable and immutable data types with examples

- Mutable: Can be changed after creation.

>Example: list, dict, set

>my_list = [1, 2, 3]

>my_list[0] = 10  

>output = [1,2,3,10]

- Immutable: Cannot be changed after creation.

>Example: int, str, tuple

>my_str = "hello"

>my_str[0] = "H"  

>output = Error

3. What are the main differences between lists and tuples in Python?

- Mutability:

> Lists are mutable, meaning their elements can be changed, added, or removed after creation.

> Tuples are immutable, meaning once they are created, their contents cannot be modified.

- Syntax:

> Lists are defined using square brackets [].

> Tuples are defined using parentheses ().

- Performance:

> Tuples are generally faster and more memory-efficient than lists because of their immutability.

> Lists require more memory and are slightly slower because they are designed for flexibility.

- Use Case:

> Lists are used when the data is expected to change (e.g., dynamic data like user input or items in a cart).

> Tuples are used when the data is fixed and should not change, such as coordinates, configuration values, or function return values.

- Functions and Methods:

> Lists have many built-in methods (like .append(), .remove(), etc.) to modify the data.

> Tuples have fewer methods because they do not support modification.

4. Describe how dictionaries store data
>Dictionaries store data as key-value pairs using a hash table internally. Each key must be unique and is hashed to quickly access the corresponding value.

- example: person = {"name": "Alice", "age": 25}

5. Why might you use a set instead of a list in Python?
- Use a set when:

>You want unique elements (sets automatically remove duplicates).

>You want fast membership tests (checking x in set is faster than x in list).

6. What is a string in Python, and how is it different from a list?
- A string is an immutable sequence of characters, while a list is a mutable sequence of elements.

>s = "hello"   
>l = ['h', 'e', 'l', 'l', 'o']

7. How do tuples ensure data integrity in Python?
- Tuples are immutable, meaning once created, their contents cannot be changed. This ensures data remains constant and safe from accidental modification.

8. What is a hash table, and how does it relate to dictionaries in Python?
- A hash table is a data structure that maps keys to values using a hash function. Python dictionaries use hash tables under the hood to allow fast access to values via keys.

9. Can lists contain different data types in Python?
- Yes. Python lists can hold mixed data types:

- mixed = [1, "hello", True, 3.14]

10. Explain why strings are immutable in Python
- Strings are immutable to:

1.  Improve performance and memory efficiency.

2.   Ensure safety when used as keys in dictionaries.

3. Allow sharing between parts of the program without unintended side effects.

11. What advantages do dictionaries offer over lists for certain tasks?

* Faster lookups with keys.

* More descriptive data via key-value pairs.

* Efficient for mapping relationships, like names to phone numbers.

12. Describe a scenario where using a tuple would be preferable over a list
* Use a tuple when storing fixed data, like coordinates (x, y), or returning multiple values from a function that shouldn't be changed.

> def get_point():             
_____return (10, 20)

13. How do sets handle duplicate values in Python?
- Sets automatically remove duplicates. If duplicates are added, only one is kept:

> s = {1, 2, 2, 3}                     
print(s)  # Output: {1, 2, 3}

14. How does the “in” keyword work differently for lists and dictionaries?
- List: checks for existence of a value.
> 2 in [1, 2, 3]  # True
- Dictionary: checks for existence of a key.
> 'name' in {'name': 'Bob'}  # True

15. Can you modify the elements of a tuple? Explain why or why not
- No, because tuples are immutable. Once created, you cannot change, add, or remove items.

16. What is a nested dictionary, and give an example of its use case
- A nested dictionary is a dictionary inside another dictionary. Useful for representing complex data, like JSON.

>student = {    
    "name": "Alice",          
    "grades": {                              
        "math": 90,                                             
        "science": 85                                      
    }                                                
}

17. Describe the time complexity of accessing elements in a dictionary
- Average-case time complexity for accessing an element by key is O(1) (constant time), due to the underlying hash table.

18. In what situations are lists preferred over dictionaries?
- Use lists when:

>Order matters.                                   
You’re dealing with simple collections of values.                               
You don’t need to label data with keys.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
>In older Python versions (<3.7), dictionaries didn’t maintain insertion order. Since 3.7, order is preserved, but conceptually, dictionaries prioritize key-based access, not order. Retrieval by index isn’t allowed.

20. Explain the difference between a list and a dictionary in terms of data retrieval
- List: Retrieve by index (position).
> lst[0]
- Dictionary: Retrieve by key (label).
> dict['name']

# **Practical Questions**

1. Write a code to create a string with your name and print it.

In [ ]:
my_name = "Prathmesh Solanki"
print(my_name)

Prathmesh Solanki

 2. Write a code to find the length of the string "Hello World".

In [ ]:
char = "Hello World"
length = len(char)
print(length)

11

3. Write a code to slice the first 3 characters from the string "Python Programming".

In [ ]:
char = "Python Programming"
char[0:3]

'Pyt'

4. Write a code to convert the string "hello" to uppercase

In [ ]:
char = "hello world"
print(char.upper())

HELLO WORLD

5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [ ]:
string = "I like apple"
replace_char = string.replace("apple", "orange")
print(replace_char)

I like orange

6. Write a code to create a list with numbers 1 to 5 and print it.

In [ ]:
lst = list(range(1,6))
print(lst)

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [ ]:
lst = [1,2,3,4]
add_no = lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [ ]:
lst = [1,2,3,4,5]
remove_no = lst.remove(3)
print(lst)

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [ ]:
lst = ['a', 'b', 'c', 'd']
char = (lst[1])
print(char)

b

10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [ ]:
lst = [10, 20, 30, 40, 50]
lst.reverse()
print(lst)

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [ ]:
tup = (100,200,300)
print(tup)

(100, 200, 300)

12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [ ]:
color = ('red', 'green', 'blue', 'yellow')
last_chars = color[-2]
print(last_chars)

blue

13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [ ]:
mini = min((10, 20, 5, 15))
print(mini)

5

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [ ]:
animal = ("dog","cat","rabbit")
animal.index("cat")

1

15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [ ]:
fruits = ("apple", "banana", "orange")
"kiwi" in fruits

False

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [ ]:
s = {"a","b","c"}
print(s)

{'c', 'b', 'a'}

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [ ]:
s = {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [ ]:
s = {1, 2, 3, 4}
s.remove(4)
print(s)

{1, 2, 3}

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [ ]:
s1 = {1, 2, 3}
s2 = {3, 4, 5}
s1.union(s2)

{1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [ ]:
s1 = {1, 2, 3}
s2 = {2, 3, 4}
s1.intersection(s2)

{2, 3}

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [ ]:
info = {"name" : "Prathmesh", "age" : 20, "city" : "Mumbai"}
print(info)

{'name': 'Prathmesh', 'age': 20, 'city': 'Mumbai'}

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}

In [ ]:
info =  {'name': 'John', 'age': 25}
info["country"] = "USA"
print(info)

{'name': 'John', 'age': 25, 'country': 'USA'}

23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}

In [ ]:
info =  {'name': 'Alice', 'age': 30}
print(info['name'])

Alice

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [ ]:
info = {'name': 'Bob', 'age': 22, 'city': 'New York'}
info.pop("age")
print(info)

{'name': 'Bob', 'city': 'New York'}

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [ ]:
info = {'name': 'Alice', 'city': 'Paris'}
print("city" in info)

True

26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [ ]:
lst = [1,2,3,4,5]
tup = ("apple","mango","banana")
dic = {"name" : "prathmesh", "age" : 22, "course" : "ds"}
print(lst)
print(tup)
print(dic)

[1, 2, 3, 4, 5]
('apple', 'mango', 'banana')
{'name': 'prathmesh', 'age': 22, 'course': 'ds'}

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [ ]:
import random
rand_nums = random.sample(range(1, 101), 5)
rand_nums.sort()
print(rand_nums)

[13, 32, 42, 70, 80]

28. Write a code to create a list with strings and print the element at the third index.

In [ ]:
fruits = ["apple", "banana", "mango", "papaya", "pineapple"]
print(fruits[2])

mango

29. Write a code to combine two dictionaries into one and print the result.

In [ ]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
combined = dict1.copy()
combined.update(dict2)
print(combined)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

30. Write a code to convert a list of strings into a set.

In [ ]:
mobile = ["mi","apple","samsung","oppo","nothing"]
converting = set(mobile)
print(converting)

{'mi', 'apple', 'nothing', 'oppo', 'samsung'}